.filter.card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
  }

  .container_form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    nz-radio-group {
      display: flex;
      gap: 10px;

      label {
        margin-right: 10px;
      }
    }

    // Contenedor para el input y el botón
    .input-button-group {
      display: flex;
      align-items: center;
      gap: 10px;

      input[nz-input],
      nz-date-picker {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 25%; /* Ajusta el ancho del input a un cuarto de la pantalla */
        height: 40px; /* Ajusta la altura del input */
      }

      button[nz-button] {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0 15px; /* Ajusta el padding para mantener la altura */
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        height: 40px; /* Ajusta la altura del botón para que coincida con la del input */

        &:hover {
          background-color: #0056b3;
        }

        nz-icon {
          font-size: 1.2em;
        }
      }
    }
  }
}

.container {
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;

  h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
    border-bottom: 2px solid #1890ff;
    padding-bottom: 0.5rem;
  }

  .divider {
    .label {
      margin: 15px 0px;
      nz-radio-group {
        display: flex;
        gap: 1rem;

        label[nz-radio] {
          font-weight: 500;
        }
      }
    }

    .input-button-group {
      nz-date-picker,
      input[nz-input] {
        flex: 1;
        width: 350px;
        height: 35px;
      }

      button[nz-button] {
        white-space: nowrap;
      }
    }
  }
}

nz-select {
  margin: 0 8px 10px 0;
  width: 100%;
}
.upload {
  margin-top: 12px;
}

.container-footer {
  [nz-button] {
    margin-top: 12px;
  }
}

.container-footer {
  display: flex;
  align-items: center;
  gap: 15px;
}
